@tailwind base;
@tailwind components;
@tailwind utilities;

.a.active {
  color: var(--para-clr);
}

.a {
  background-color: transparent;
}

.card-style {
  border-radius: 7px;
  /* background: #e0e0e0; */
  box-shadow:  5px -5px 14px #bebebe,
               -5px 5px 14px #ffffff;
}



.dark-theme {
  --main-heading: rgba(0, 0, 0, 0.164);
  --para-clr: #fff;
  --btn-bg-color: #ffc435;
  --btn-text-clr: #FF3565;
  --bg-clr: #111b20;
  --nav-bg: #4ce0af58;
  --nav-text: #ffc435;
}

.light-theme {
  --main-heading: white;
  --para-clr: #e81b1b;
  --btn-bg-color: #FF3565;
  --btn-text-clr: #ffc435;
  --bg-clr: #fff;
  --nav-bg: white;
  --nav-text: #FF3565;
}